{% extends "codecooler_nav.twig" %}

{% block title %}Buy artifact{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block artifacts_button %}class="active"{% endblock %}

{% block aside %}
    <a href="/codecooler_artifacts">
        <button><i class="material-icons bigger">arrow_back</i></button>
    </a>
{% endblock %}


{% block main %}
    <p>Artifact name: {{ artifact.getName() }}</p><br>
    <p>Description: {{ artifact.getDescription() }}</p><br>
    <p>Price: {{ artifact.getPrice() }} CoolCoins</p><br>
    {% if artifact.isMagic() %}
        <p>This is magical artifact, you can buy it as a team.</p>
        <p>Price per team member: {{ price }} CoolCoins</p><br>
    {% endif %}
    <p>Your wallet: {{ codecooler.getBalance() }} CoolCoins</p><br><br>
    <form method="POST" class="block">
        <button class="bluebutton" 
        {% if tooExpensive %}
            disabled
        {% endif %}
        >BUY</button>
    </form>
    {% if tooExpensive %}
        <p class="red">
        {% if artifact.isMagic() %}
            Your team
        {% else %}
            You
        {% endif %}
         can not afford this artifact</p>
    {% endif %}
{% endblock %}