{% extends "mentor_nav.twig" %}

{% block title %}Codecooler editor{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block mentors_button %}class="active"{% endblock %}

{% block aside %}
    <a href="/codecoolers_manager">
        <button><i class="material-icons bigger">arrow_back</i></button>
    </a>
{% endblock %}

{% block main %}
    <form method="post" onsubmit="save()">
        <div class="flexbox">
            <label style="flex-grow: 1">First name:</label>
            <input name="firstName" type="text" class="stdinput width80" value="{{ firstName }}" required disabled>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type ="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>
        <div class="flexbox">
            <label style="flex-grow: 1">Last name:</label>
            <input name="lastName" type="text" class="stdinput width80" value="{{ lastName }}" required disabled>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>
        <div class="flexbox">
            <label style="flex-grow: 1">Email:</label>
            <input name="email" type="email" class="stdinput width80" value="{{ email }}" required disabled>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>
        <div class="flexbox">
            <label style="flex-grow: 1">Class:</label>
            <select name="className" class="stdinput width80" disabled>
                {% for class in classes %}
                    <option value="{{ class }}"
                    {% if class == className %}
                        selected
                    {% endif %} >
                    {{ class }}</option>
                {% endfor %}
            </select>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>
        <br><br>
        <div class = "flexbox">
        <label>Done quest:</label>

        <select name="addQuest" class="stdinput width80 floatright" >
            {% for quest in quests %}
                <option value="{{ quest.getId() }}"
                {% if addQuest == quest %}
                    selected
                {% endif %} >
                {{ quest }}</option>
            {% endfor %}
        </select>

        <button name = "add" type="submit" class="bluebutton floatright">ADD</button>
        </div>

        <div class = "flexbox">
        <label>Use artifact:</label>

        <select name="usedArtifact" class="stdinput width80 floatright" >
            {% for artifact in artifacts %}
                <option value="{{ artifact.getId() }}"
                {% if usedArtifact == artifact %}
                    selected
                {% endif %} >
                {{ artifact }}</option>
            {% endfor %}
        </select>

        <button name = "use" type="submit" class="bluebutton floatright">USE</button>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script src="../static/js/mentor_editor.js"></script>
{% endblock %}