{% extends "admin_nav.twig" %}

{% block title %}Mentors manager{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block mentors_button %}class="active"{% endblock %}

{% block aside %}
    <a href="add_new_mentor.html">
        <button>+</button>
    </a>
{% endblock %}

{% block main %}
    <form method="post">
        <input name="search_field" class="stdinput" type="search" placeholder="Search..." style="width:39%"
            {% if searchTerm != null %}
                value="{{ searchTerm }}"
            {% endif %} >
        <button name="search" type="input" class="bluebutton">SEARCH</button>
        <button name="show_all" type="input" class="bluebutton">SHOW ALL</button>
        <button name="show_class" type="input" class="bluebutton floatright">SHOW</button>
        <select name="class" class="stdinput floatright" style="width:25%">
            {% for class in classes %}
                <option value="{{ class }}"
                {% if class == className %}
                    selected
                {% endif %} >
                {{ class }}</option>
            {% endfor %}
        </select>
    </form>
        <div class="height600">
            <div class="list">
                {% if (mentors != null) %}
                    <ol>
                        {% for mentor in mentors %}
                        <a href="static/mentor_editor/{{ mentor.getId() }}">
                            <li> {{ mentor.toString() }} <i class="material-icons floatright">keyboard_arrow_right</i></li>
                        </a>

                        {% endfor %}
                    </ol>
                {% else %}
                    Nothing to show
                {% endif %}
            </div>
        </div>
{% endblock %}