{% extends navLink %}

{% block title %}Quests{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block quests_button %}class="active"{% endblock %}

{% block aside %}
    <a href="/add_new_quest" {{ displayStyle }}>
        <button><i class="material-icons bigger">add</i></button>
    </a>
{% endblock %}

{% block main_class %}class="cardscontainer"{% endblock %}

{% block main %}
    {% for quest in quests %}
        <a href="{{ questLink }}/{{ quest.getId() }}">
            <div class="card 
            {% if quest.isExtra() %}
                extra
            {% endif %}
            ">
                <img src="{{ quest.getImagePath() }}" class="cardimage">
                <h3>{{ quest.getName() }} - {{ quest.getValue() }} CC</h3>
                <p>{{ quest.getDescription() }}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}